@charset "utf-8";

/* section1 슬릭*/
#section1{width: 100%; height: 100vh;display: flex; justify-content: center; align-items: center;}
.slider_wrap{position: relative;height: 100vh; width: 100%;}
.slider {}
.slider figure {position: relative; }
.slider figure img{width: 100%; height: 100vh;object-fit: cover;}
.slider figcaption {position: absolute; bottom: 0;left: 0;width: 100%; padding: 20px; box-sizing: border-box; background-color: rgba(0, 0, 0, 0.5);color: #fff; font-size: 18px;}
.slider figcaption em {display: block; font-weight: bold; font-size: 28px; text-transform: uppercase; font-family: 'Abel', sans-serif; opacity: 0; transition: all .84s ease; transform: translateX(50px);}
.slider figcaption span {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; opacity: 0; transition: all .84s 0.2s ease; transform: translateX(50px);}
.slider .slick-active figcaption em {opacity: 1; transform: translateX(0px); }
.slider .slick-active figcaption span {opacity: 1; transform: translateX(0px); }
.slider .slick-dots {display: block; width: 100%; text-align: center; }/* 버튼 */
.slider .slick-dots li {display: inline-block; width: 15px;height: 15px;margin: 5px;}
.slider .slick-dots button {font-size: 0; line-height: 0; display: block; width: 15px;height: 15px; cursor: pointer; background: #5dbfeb; border-radius: 50%;}
.slider .slick-dots li.slick-active button {background: #2b91c8; } /* 버튼 활성화 */
.slider .slick-prev {position: absolute; left: 0;bottom: 0; z-index: 1000; width: 30px;height: 30px; display: inline-block; text-indent: -9999px; font: normal normal normal 14px/1 FontAwesome;}
.slider .slick-prev:before {content: "\f053"; color: #5dbfeb; text-indent: 0; position: absolute; left: 9px; top: 8px;}
.slider .slick-next {position: absolute; right: 0;bottom: 0;z-index: 1000; width: 30px;height: 30px; display: inline-block; text-indent: -9999px; font: normal normal normal 14px/1 FontAwesome;}
.slider .slick-next:before {content: "\f054"; color: #5dbfeb; text-indent: 0; position: absolute; left: 11px; top: 8px;}

.page_number{position: absolute; bottom: 10px; right: 10px; width: 50px;height: 50px; background: #fff;}/* 페이지 번호 컨트롤 */
.page_number span{display:inline-block;vertical-align:top;}/* 현재 페이지 번호 */
.page_number em{padding-top: 21px;display:inline-block;padding-left: 5px;opacity: 0.5;position: relative;}/* 페이지 총 갯수 */
.page_number em:before{content:"";width: 30px;height: 1px;position:absolute;background:#000;left: -13px;transform: rotate(-45deg);top: 21px;} /* 페이지 슬라이드 아이콘 */

/* 슬릭 좌,우 버튼
.slider_wrap .btn {position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}
.slider_wrap .btn button{width: 50px;height: 50px;}
.slider_wrap .btn button i{font-size: 30px;}
*/

/* 슬릭 닷 버튼 강제로 삭제
.slider_wrap .slick-dots{display: none!important;}
*/




